<%= form_tag("/"+params[:target_url], :method => params[:method].to_sym || :post) do %>
  <p>Are you sure?</p>
  <%= submit_tag "Yes", :id => :confirm %>
  <%= link_to "No", request.env["HTTP_REFERER"], class: 'button' %>
<% end %>
